# application.properties
  
application.properties

# .DS_Store

.DS_Store

# Log

*.log
*.gz

# node_modules

node_modules

# package-lock.json

package-lock.json

# static 

 static/

# UserServiceImpl.java - 파일 업로드 경로

backend/src/main/java/com/ssafy/pit/service/UserServiceImpl.java
